* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

/* Utility class */

.card {
    width: calc(100% / 3 - (20px /3));
    padding-bottom: 30px;
    position: relative;
}

img {
    max-width: 100%;
}

.promozione {
    position: absolute;
    background-color: red;
    color: white;
    bottom: 115px;
    font-weight: 800;
    font-size: 11px;
    padding: 4px 7px;
}

.sostenibilità {
    position: absolute;
    background-color: green;
    color: white;
    bottom: 115px;
    left: 44px;
    font-weight: 800;
    font-size: 11px;
    padding: 4px 7px;
}

.sostenibilità2 {
    position: absolute;
    background-color: green;
    color: white;
    bottom: 115px;
    left: 0px;
    font-weight: 800;
    font-size: 11px;
    padding: 4px 7px;
}

.cuore-card {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px 14px;
    padding-right: 28px;
}

.grassetto {
    font-weight: 600;
}

.font-mini {
    font-size: 11px;
}

.color-red {
    color: red;
}

.footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px 12%;
    border-bottom: white solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}






.header {
    width: 100%;
    background-color: rgb(255, 98, 0);
    color: white;
    padding: 0 12%;
    font-weight: 900;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.header img {
    max-height: 26px;
}

.container {
    width: 76%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.img-second {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.card:hover .img-second {
    display: block;
    cursor: pointer;
}

.footer a {
    padding-right: 7px;
}
